<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
<!-- console  -->

 <appender name="console" class="org.apache.log4j.ConsoleAppender">
  <param name="Target" value="System.out" />
   <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="[%d{HH:mm:ss}] %m%n" />
   </layout>
 </appender>


 <!-- c:\/Project/logs/binrlog.log.2014-01-16으로 파일을 생성하며 매일하나의 로그 파일 발생 -->
 <appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
  <!-- ref.) attr : FileAppender + DatePattern -->
  <param name="File" value="/Project/logs/binrlog.log" />
  <param name="Append" value="true" />
  <param name="encoding" value="UTF-8" />
  <!-- SimpleDateFormat 을 따름. ex.) .yyyy-ww : 첫날 기준 매주마다, .yyyy-MM-dd-HH-mm : 매분마다 -->
  <param name="DatePattern" value="'.'yyyy-MM-dd" />
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
  </layout>
 </appender>

 <logger name="org.springframework">
  <level value="INFO"/>
 </logger>


 <logger name="org.apache.log4j">
  <level value="INFO"/>
 </logger>

 <root>
  <level value="DEBUG" /> <!--  로그 찍는 레벨 -->
  <appender-ref ref="console" /> <!--  콘솔어펜더 이름 -->
  <!--<appender-ref ref="file" />   파일어펜더 이름 -->
  <appender-ref ref="dailyRollingFile" /> <!--  데일리어펜더 이름 -->
 </root> 

</log4j:configuration>

